<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.happylopers.mapper.common.UserMapper">
    <select id="login" resultType="UserVO">
        select uid, upw, uname, fbid, email, userimg, regdate from tbl_user where uid = #{uid} and upw = #{upw}
    </select>
    
    <select id="checkDuplicatedUserWithFacebook" resultType="UserVO">
        select uid, upw, uname, fbid, email, userimg, regdate from tbl_user where fbid = #{fbid}
    </select>
    
    <select id="checkDuplicatedUserId" resultType="UserVO">
        select uid, upw, uname, fbid, email, userimg, regdate from tbl_user where uid = #{uid}
    </select>
    
    <select id="loginFB" resultType="UserVO">
        select uid, upw, uname, fbid, email, userimg, regdate from tbl_user where fbid=#{fbid}
    </select>
    
    <update id="keepLogin">
        update tbl_user set sessionKey = #{sessionId}, sessionlimit = #{next} where uid=#{uid}
    </update>
    
    <select id="checkUserWithSessionKey" resultType="UserVO">
    select * from tbl_user where sessionKey = #{value}
    and sessionlimit > now()
    </select>
    
    <insert id="joinTheHappyLopers">
        INSERT INTO tbl_user(
		   uid
		  ,upw
		  ,uname
		  ,upoint
		  ,sessionkey
		  ,sessionlimit
		  ,fbid
		  ,email
		) VALUES (
		   #{uid}
		  ,#{upw}
		  ,#{uname}
		  ,0
		  ,''
		  ,now()
		  ,#{fbid}
		  ,#{email}
		)
    </insert>
    
</mapper>