<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.happylopers.mapper.wakeup.wakeupMapper">
    <select id="list" resultType="WakeUpVO">
    <![CDATA[
    select
    seq, date, comment
    from daily_log
    order by date
    ]]>
    </select>
    
    <insert id="create">
        insert into daily_log (date, comment)
        values(now(),#{comment})
    </insert>
    
    <delete id="delete">
        delete from daily_log where seq = #{seq}
    </delete>
    
    <update id="update">
        update daily_log 
        set 
        date = #{date}, 
        comment = #{comment}
        where seq = #{seq}
    </update>
</mapper>